body {
	
  padding-top: 50px;
  
  overflow:scroll;
    background-image: url(../images/bg.jpg) ;
  background-position: 0px 0px;
	background-repeat: repeat-x repeat-y;
	-webkit-animation: animatedBackground 40s linear infinite;
-moz-animation: animatedBackground 40s linear infinite;
-o-animation: animatedBackground 40s linear infinite;
-ms-animation: animatedBackground 40s linear infinite;
animation: animatedBackground 40s linear infinite;
	

	-webkit-animation: animatedBackground 40s linear infinite;
	
}

.starter-template {
  padding: 40px 15px;
  text-align: center;


	
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
@-webkit-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
@-moz-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
@-o-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
@-ms-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

 /*.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
	  border-radius:5px;
  }*/
  
  #myCarousel
  {
  border-radius:5px;
  }
  
  .navbar-inverse{
  
 background-color: #2ea681;
 border-color:#2ea681;
  }

.navbar-inverse .navbar-nav>li>a{
	
	color:#ffffff;
}

.navbar-inverse .navbar-brand{
	color:#ffffff;
	
}
.field-area{
	    margin-top:20px;
}

.pallylogo{
	 margin-top:30px;
	
}

.carousel-control{
	
	width: 0;
}

