/javax.ws.rs-api-2.0.jar
/jersey-client.jar
/jersey-common.jar
/jersey-container-servlet-core.jar
/jersey-container-servlet.jar
/jersey-server.jar
/spring-batch-core-2.2.6.RELEASE.jar
/spring-batch-infrastructure-2.2.6.RELEASE.jar
/spring-binding-2.4.0.RELEASE.jar
/spring-data-jpa-1.3.3.jar
/spring-faces-2.4.0.RELEASE.jar
/spring-js-2.4.0.RELEASE.jar
/spring-js-resources-2.4.0.RELEASE.jar
/spring-security-acl-3.2.5.RELEASE.jar
/spring-security-aspects-3.2.5.RELEASE.jar
/spring-security-cas-3.2.5.RELEASE.jar
/spring-security-config-3.2.5.RELEASE.jar
/spring-security-core-3.2.5.RELEASE.jar
/spring-security-crypto-3.2.5.RELEASE.jar
/spring-security-ldap-3.2.5.RELEASE.jar
/spring-security-openid-3.2.5.RELEASE.jar
/spring-security-remoting-3.2.5.RELEASE.jar
/spring-security-taglibs-3.2.5.RELEASE.jar
/spring-security-web-3.2.5.RELEASE.jar
/spring-webflow-2.4.0.RELEASE.jar
/spring-ws.jar
